{% extends "./modulos.html" %}
{% load static %}


{% block head %}
    <link rel="stylesheet" href="{% static 'css/registro.css' %}">
{% endblock %}

<body >
{% block body %}
      
      <div class="container mt-5">
        <h1>Editar Suscripcion</h1>
        <br>
        <form action="/editarSuscripcionForm" method="POST" enctype="multipart/form-data"> {% csrf_token %}

            <div class="row">

                <div class="col">

                    <label for="txtRut">Rut:</label>
                    <input readonly value="{{sus.rut}}" name="txtRut" type="text" id="txtRut" class="form-control" placeholder="EJ: 12.345.678-9">

                </div>

            </div>

            <div class="row">

              <div class="col">

                <label for="txtNombre">Nombre:</label>
                <input value="{{sus.nombre}}" name="txtNombre" type="text" id="txtNombre" class="form-control" placeholder="Escriba su nombre aqui">

            </div>

            <div class="row">

                <div class="col">
  
                  <label for="txtApellido">Apellido:</label>
                  <input value="{{sus.apellido}}" name="txtApellido" type="text" id="txtApellido" class="form-control" placeholder="Escriba su apellido aqui">
  
              </div>

              <div class="row">

                <div class="col">
  
                  <label for="txtCorreo">Correo:</label>
                  <input value="{{sus.correo}}" name="txtCorreo" type="text" id="txtCorreo" class="form-control" placeholder="Ingrese su correo electronico">
  
              </div>

          </div>
        <br>
        <button class="btn btn-primary">Confirmar</button>        
        </form>
    </div>
    {% endblock %}
    {% block script %}
    <script src="{% static 'js/jquery-3.6.4.min.js' %}"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'js/registrar.js' %}"></script>
    <script src="{% static 'js/reloj.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/oscuro.js' %}"></script>
    {% endblock %}
</body>
{% block footer %}

{% endblock %}
</html>