{% extends "./modulos.html" %}
{% load static %}


{% block head %}
    <link rel="stylesheet" href="{% static 'css/registro.css' %}">
{% endblock %}

<body >
{% block body %}
      
      <div class="container mt-5">
        <h1>Registrarse</h1>
        <br>
        <form action="/registrarUsuario" method="POST" enctype="multipart/form-data"> {% csrf_token %}
            <div class="row">

                <div class="col">
                    <label for="txtNombre">Nombre:</label>
                    <input name="txtNombre" type="text" id="txtNombre" class="form-control" placeholder="Escriba su nombre aquí">
                </div>

                <div class="col">
                    <label for="txtApellido">Apellido:</label>
                    <input name="txtApellido" type="text" id="txtApellido" class="form-control" placeholder="Escriba su apellido aquí">
                </div>

            </div>

            <div class="row">

              <div class="col">
                <label for="txtRut">Rut:</label>
                <input name="txtRut" type="text" id="txtRut" class="form-control" placeholder="Ej: 21.533.047-9">
            </div>

              <div class="col">
                  <label for="txtCorreo">Correo:</label>
                  <input name="txtCorreo" type="text" id="txtCorreo" class="form-control" placeholder="Ej: suCorreo@correo.com">
              </div>

          </div>

          <div class="row">

            <div class="col">
                <label for="txtContraseña">Contraseña:</label>
                <input name="txtContraseña" type="password" id="txtContraseña" class="form-control" placeholder="Escoja una contraseña">
            </div>

            <div class="col">
              <label for="txtConfirmar">Confirme su contraseña:</label>
              <input name="txtConfirmar" type="password" id="txtConfirmar" class="form-control" placeholder="Confirme su contraseña">
          </div>
        </div>
        <br>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Registrarse</button>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h6 id="modaltext" class="modal-title fs-5" id="exampleModalLabel">Modal title</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div id="modaltext" class="modal-body">
                ¿Estas seguro de tus datos?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No estoy seguro</button>
                <button class="btn btn-primary">Estoy seguro</button>
              </div>
            </div>
          </div>
        </div>
        </form>
    </div>
    {% endblock %}
    {% block script %}
    <script src="{% static 'js/jquery-3.6.4.min.js' %}"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'js/registrar.js' %}"></script>
    <script src="{% static 'js/reloj.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/oscuro.js' %}"></script>
    {% endblock %}
</body>
{% block footer %}

{% endblock %}
</html>